/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@400;900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-dark-cyan: hsl(179, 81%, 29%);
  --clr-primary-dark-grey-blue: hsl(215, 19%, 25%);
  --clr-primary-pale-orange: hsl(25, 94%, 86%);
  --clr-primary-light-cream: hsl(43, 78%, 98%);
  --clr-primary-grey: hsl(215, 5%, 54%);

  --ff-primary: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: var(--clr-primary-very-dark-grey); */
  /* background-image: url('./utils/assets/background-stars.svg'); */
  color: black;
  font: var(--ff-primary);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
}
h1 {
  font-size: 72px;
  line-height: 72px;
}
h2 {
  font-size: 40px;
  line-height: 48px;
}
h3 {
  font-size: 32px;
  line-height: 36px;
}
h4 {
  font-size: 24px;
  line-height: 32px;
}
h5 {
  font-size: 150px;
  text-transform: lowercase;
  line-height: 72px;
  font-family: var(--ff-secondary);
}
p {
  font-size: 16px;
  font-family: var(--ff-primary);
  line-height: 26px;
  margin-bottom: 1.25rem;
}
p .navigation {
  font-family: var(--ff-primary);
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.line {
  display: block;
  border-bottom: 1px solid var(--clr-primary-dark-grey);
}

@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
}

@media screen and (min-width: 575px) {
}
@media screen and (min-width: 900px) {
}
/*
=============== 
Styles
===============
*/
/*
=============== 
Navbar
===============
*/
